<div class="main-container">

  <div class = "white-container">
    <div class="nav-bar">
      <div class="logo-container">
        <img src="assets/img/logo_ico.svg" alt="logo" >
      </div>

      <div class="burger-menu" [ngClass]="{'burger-active': isMenuOpen}" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>

      <div class="links-container" [ngClass]="{'burger-active': isMenuOpen}">
        <a class="links">Тақырыптық тесттер</a>
        <a class="links">Нәтижелерім</a>
        <a class="links auth" routerLink="login">Кіру</a>
      </div>
    </div>


  </div>

  <div class="white-container">

    <div class="content">

      <div class="info">
        <h1>Білім беру сапасын <br>арттыруға арналған<br> тренажер</h1>

        <p>Дамудың миссиясы- Ұлттық бірыңғай тестілеу (ҰБТ)<br>
          және Білім алушылардың білім жетістіктеріне мониторинг<br>
          ББЖМ сынағына онлайн дайындықты қызықты әрі жеңіл өткізу.</p>

        <a class="test-button">
          Тест тапсыру
        </a>

      </div>

      <div class="image-container">
        <img src="assets/img/start_ico.svg" width="750" height="600">
      </div>

    </div>

  </div>

</div>
