.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px;
}

.white-container{
  width: 100%;
  background-color: white;
  border-radius: 15px;
}

.content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: 75px 0 0 95px;
  max-width: 50%;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

p {
  font-size: 22px;
  margin: 20px 0;
}

.test-button {
  display: inline-block;
  padding: 20px 30px;
  background-color: #00BFFF;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 22px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}



@media(max-width: 1024px) {
  .main-container {
    padding: 25px 38px;
  }

  .info {
    max-width: 100%;
    text-align: left;
    padding: 0;
  }

  .content {
    padding: 15px 45px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
  }

  .test-button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .image-container {
    width: 346px;
    height: 368px;
  }
}

@media(max-width: 1023px) {
  .main-container {
    padding: 25px 38px;
  }

  .links-container{
    display: none;
  }
  .burger-menu {
    display: flex;
  }

  .auth {
    padding: 15px 25px;
    font-size: 14px;
  }

  .content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    align-items: flex-start;
    padding: 30px 43px;
  }

  .info {
    padding: 0 10px;
    max-width: 100%;
    text-align: left;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .test-button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .image-container {
    margin-top: 15px;
    width: 335px;
    height: 335px;
  }
}
