<div class="main-container">

  <app-navbar></app-navbar>


  <div class="wrapper">
    <div class="white-container">

      <div class="content">

        <div class="info">
          <h1>Білім беру сапасын <br>арттыруға арналған<br> тренажер</h1>

          <p>Дамудың миссиясы- Ұлттық бірыңғай тестілеу (ҰБТ)<br>
            және Білім алушылардың білім жетістіктеріне мониторинг<br>
            ББЖМ сынағына онлайн дайындықты қызықты әрі жеңіл өткізу.</p>

          <a class="test-button">
            Тест тапсыру
          </a>

        </div>

        <div class="image-container">
          <img src="../../../../assets/img/start_ico.svg" width="750" height="600">
        </div>

      </div>

    </div>
  </div>


</div>
