<div class="main-container">

  <div class="image-container" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}">
    <h1>Тарих</h1>
    <p>XV-XXI ғғ.</p>
  </div>


  <div class="form-container">

    <div class="back-container" (click)="goBack()">
      <img src="assets/img/left_arrow_ico.svg" width="7" height="15">
      <span>Артқа</span>
    </div>

    <ng-container>
      <div class="form" *ngIf="!levelTwo && !levelThree && !levelFour" @slideLeftRight>
        <h1>{{ title }}</h1>
        <h2>Тест түрін таңдаңыз:</h2>
        <div class="type-container">
          <div class="box-container test" (click)="onLevelTwo()">
            <h2>Пәндік толық тест</h2>
            <p>Тарих пәні бойынша толық тест түрі.</p>
          </div>
          <div class="box-container type" (click)="onLevelTwo()">
            <h2>Тақырыптық тест</h2>
            <p>Тарих пәні бойынша толық тест түрі.</p>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div class="form" *ngIf="levelTwo" @slideLeftRight>
        <h1>Бөлім</h1>
        <h2>Бөлім таңдаңыз:</h2>
        <div class="level-container">
          <div class="level-box">
            <div class="scroll-box">
              <ul (click)="onLevelThree(lvl.id)" *ngFor="let lvl of lvlData">
                <li>{{ lvl.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div class="form" *ngIf="levelThree" @slideLeftRight>
        <h1>Тақырып</h1>
        <span>Тақырып таңдаңыз:</span>
        <div class="level-container">
          <div class="level-box">
            <div class="scroll-box">
              <ul (click)="onLevelFour(lvl.id)" *ngFor="let lvl of lvlData">
                <li>{{ lvl.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div class="form" *ngIf="levelFour">
        <h1>Тақырыпшалар</h1>
        <h2>Тақырыпшаны таңдаңыз:</h2>
        <div class="level-container">
          <div class="level-box">
            <div class="scroll-box">
              <ul *ngFor="let lvl of lvlData">
                <li>{{ lvl.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <img src="assets/img/login_loco_ico.svg" class="logo">
  </div>
</div>
