<div class = "white-container">
  <div class="nav-bar">
    <a class="logo-container" href="">
      <img src="assets/img/logo_ico.svg" alt="logo" >
    </a>

    <div class="burger-menu" [ngClass]="{'burger-active': isMenuOpen}" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <div class="links-container" [ngClass]="{'burger-active': isMenuOpen}">
      <a class="links">Тақырыптық тесттер</a>
      <a class="links">Нәтижелерім</a>
      <ng-container *ngIf="userData; else loginLink">
        <a class="links auth" routerLink="../profile">{{ userData.fullname }}</a>
      </ng-container>
      <ng-template #loginLink>
        <a class="links auth" routerLink="login">Кіру</a>
      </ng-template>
    </div>
  </div>


</div>
