<div class="navbar-container">
  <h2>Тақырыптық тесттер</h2>
  <hr style="transform: scaleY(0.3);">

  <div class="navbar-menu">
    <div class="select" >
      <span>Пән: {{ getDisplayName(selectedSubject) }} </span>
      <span> <i class="bi bi-caret-down-fill"></i>  </span>
      <select id="subject1" [(ngModel)]="selectedSubject" (change)="loadAll($event)">
        <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
      </select>
    </div>

    <div class="button-container">
      <button class="plus-button" (click)="openDialog('250ms', '250ms', 'bolim')">Бөлім қосу</button>
      <button class="plus-button" (click)="openDialog('250ms', '250ms', 'takyryp')">Тақырып қосу</button>
      <button class="plus-button" (click)="openDialog('250ms', '250ms', 'takyrypwalar')">Тақырыпша қосу</button>
    </div>

  </div>
</div>

<div class="main-container">
  <div class="content-container">

    <div class="action-buttons">

      <button class="action-button" [class.active]="activeTab === 'bolimder'" (click)="changeType('bolimder')">Бөлімдер</button>
      <button class="action-button" [class.active]="activeTab === 'takyryptar'" (click)="changeType('takyryptar')">Тақырыптар</button>
      <button class="action-button" [class.active]="activeTab === 'takyrypwalar'" (click)="changeType('takyrypwalar')">Тақырыпшалар</button>

    </div>

  <div class="table-container">

    <ng-container *ngIf="activeTab == 'bolimder'">
      <table cdkDropList (cdkDropListDropped)="drop($event)">
        <tr>
          <th>#</th>
          <th>Бөлім</th>
          <th>Пәндік тест(мин.)</th>
          <th>Пәндік тест(макс.)</th>
        </tr>
        <tbody>
        <tr *ngFor="let item of test; let i = index" cdkDrag (click)="openDialog('250ms', '250ms', 'bolim-update', item.id)">
          <td><i class="bi bi-grid-fill"></i></td>
          <td>{{item.name}}</td>
          <td>{{item.min_questions_count_in_subject_test}}</td>
          <td>{{item.max_questions_count_in_subject_test}}</td>
        </tr>
        </tbody>
      </table>
    </ng-container>

    <ng-container *ngIf="activeTab == 'takyryptar'">

      <div class="select-themes" >
        <span>Пән: {{getDisplayCategory(selectedCategory)}}</span>
        <span> <i class="bi bi-caret-down-fill"></i>  </span>
        <select id="subject2" [(ngModel)]="selectedCategory" (change)="loadThemes()">
          <option [ngValue]="undefined" selected>Барлығы</option>
          <option *ngFor="let item of test" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>

      <table cdkDropList (cdkDropListDropped)="dropThemes($event)" [cdkDropListDisabled]="selectedCategory === undefined">
        <tr>
          <th>#</th>
          <th>Бөлім</th>
          <th>Тақырып</th>
        </tr>
        <tbody>
        <tr *ngFor="let item of themes; let i = index" cdkDrag (click)="openDialog('250ms', '250ms', 'takyryp-update', item.id)">
          <td>
            <ng-container *ngIf="selectedCategory !== undefined; else showIndex">
              <i class="bi bi-grid-fill"></i>
            </ng-container>
            <ng-template #showIndex>{{ i + 1 }}</ng-template>
          </td>
          <td>{{item.category_name}}</td>
          <td>{{item.name}}</td>
        </tr>
        </tbody>
      </table>
    </ng-container>


    <ng-container *ngIf="activeTab == 'takyrypwalar'">

      <div class="select-themes" >
        <span>Пән: {{ getDisplayTheme(selectedThemes) }} </span>
        <span> <i class="bi bi-caret-down-fill"></i>  </span>
        <select id="subject3" [(ngModel)]="selectedThemes" (change)="loadSubThemes()">
          <option [ngValue]="undefined" selected>Барлығы</option>
          <option *ngFor="let item of themes" [value]="item.id">{{ item.category_name }}.{{item.name}}</option>
        </select>
      </div>

      <table cdkDropList (cdkDropListDropped)="dropSubThemes($event)" [cdkDropListDisabled]="selectedThemes === undefined">
        <tr>
          <th>#</th>
          <th>Тақырып</th>
          <th>Тақырыпша</th>
          <th>Ұзақтығы</th>
          <th>Бір жауапты</th>
          <th>Көп жауапты</th>
          <th>Сәйкестендіру</th>
          <th>А деңгейі</th>
          <th>Б деңгейі</th>
          <th>С деңгейі</th>
        </tr>
        <tbody>
        <tr *ngFor="let item of subThemes; let i = index" cdkDrag (click)="openDialog('250ms', '250ms', 'takyrypwalar-update', item.id)">
          <td>
            <ng-container *ngIf="selectedThemes !== undefined; else showIndex">
              <i class="bi bi-grid-fill"></i>
            </ng-container>
            <ng-template #showIndex>{{ i + 1 }}</ng-template>
          </td>
          <td>{{item.theme_name}}</td>
          <td>{{item.name}}</td>
          <td>{{item.duration}} минут</td>
          <td>{{item.questions_count}} сұрақ</td>
          <td>{{item.questions_with_many_answers_count}} сұрақ</td>
          <td>{{item.matchings_count}} сұрақ</td>
          <td>{{item.lvl_a_percent}} %</td>
          <td>{{item.lvl_b_percent}} %</td>
          <td>{{item.lvl_c_percent}} %</td>
        </tr>
        </tbody>
      </table>
    </ng-container>

  </div>


</div>
</div>


<ng-template #dialogTemplate>
  <div class="dialog-header">
    <h2 mat-dialog-title *ngIf="selectedType=='bolim'">Бөлім қосу</h2>
    <h2 mat-dialog-title *ngIf="selectedType=='takyryp'">Тақырып қосу</h2>
    <h2 mat-dialog-title *ngIf="selectedType=='takyrypwalar'">Тақырыпша қосу</h2>
    <button mat-icon-button  class="close-button">
      <mat-icon (click)="closeDialog()">close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>

    <ng-container *ngIf="selectedType == 'bolim' || selectedType == 'bolim-update'">
      <form [formGroup]="categoryForm">

        <div class="content">

          <div class="form-group">
            <label for="subject">Пән</label>
            <select
              id="subject"
              formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="fio">Аты</label>
            <input type="text" id="fio" name="fio" formControlName = 'name'>
          </div>

          <div class="form-group">
            <label for="test1">Пәндік тест кездегі минимум шығу керек сұрақ саны</label>
            <input type="text" id="test1" name="test1" formControlName = 'min_questions_count_in_subject_test'>
          </div>

          <div class="form-group">
            <label for="test2">Пәндік тест кездегі максимум шығу керек сұрақ саны</label>
            <input type="text" id="test2" name="test2" formControlName = 'max_questions_count_in_subject_test'>
          </div>


        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="selectedType == 'takyryp'|| selectedType == 'takyryp-update'">
      <form [formGroup]="themeForm">

        <div class="content">

          <div class="form-group">
            <label for="subjectT">Пән</label>
            <select
              id="subjectT"
              formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="subjectT1">Бөлім</label>
            <select id="subjectT1" formControlName = 'category_id'>
              <option value="" disabled selected hidden>Бөлім таңдаңыз</option>
              <option *ngFor="let item of test" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="testT1">Аты</label>
            <input type="text" id="testT1" name="testT1" formControlName = 'name'>
          </div>


        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="selectedType === 'takyrypwalar' || selectedType === 'takyrypwalar-update'">
      <form [formGroup]="subThemeForm">

        <div class="content">

          <div class="form-group">
            <label for="subjectTW">Пән</label>
            <select
              id="subjectTW"
              formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="subjectTW1">Бөлім</label>
            <select id="subjectTW1" formControlName="theme_id">
              <option value="" disabled selected hidden>Бөлім таңдаңыз</option>
              <option *ngFor="let item of themes" [value]="item.id">{{ item.category_name }}.{{item.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="name">Тақырыпша аты</label>
            <input type="text" id="name" name="testT1" formControlName = 'name'>
          </div>

          <div class="form-group">
            <label for="duration">Тест ұзақтығы (минутпен)</label>
            <input type="number" id="duration" name="duration" formControlName = 'duration'>
          </div>

          <div class="form-group">
            <label for="oneAnswer">Бір жауапты сұрақтар саны</label>
            <input type="number" id="oneAnswer" name="oneAnswer" formControlName = 'questions_count'>
          </div>

          <div class="form-group">
            <label for="manyAnswer">Көп жауапты сұрақтар саны</label>
            <input type="number" id="manyAnswer" name="manyAnswer" formControlName = 'questions_with_many_answers_count'>
          </div>

          <div class="form-group">
            <label for="identAnswer">Сәйкестендіру сұрақтар саны</label>
            <input type="number" id="identAnswer" name="identAnswer" formControlName = 'matchings_count'>
          </div>

          <div class="form-group">
            <label for="aAnswer">А деңгейі</label>
            <input type="number" id="aAnswer" name="aAnswer" formControlName = 'lvl_a_percent'>
          </div>

          <div class="form-group">
            <label for="bAnswer">B деңгейі</label>
            <input type="number" id="bAnswer" name="bAnswer" formControlName = 'lvl_b_percent'>
          </div>

          <div class="form-group">
            <label for="сAnswer">С деңгейі</label>
            <input type="number" id="сAnswer" name="сAnswer" formControlName = 'lvl_c_percent'>
          </div>


        </div>
      </form>
    </ng-container>


  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="save-subject" *ngIf="selectedType == 'bolim' || selectedType == 'bolim-update'" (click)="onSubmitCategory()">Сақтау</button>
    <button class="save-subject" *ngIf="selectedType == 'takyryp' || selectedType == 'takyryp-update'" (click)="onSubmitTheme()">Сақтау</button>
    <button class="save-subject" *ngIf="selectedType == 'takyrypwalar' || selectedType === 'takyrypwalar-update'" (click)="onSubmitSubTheme()">Сақтау</button>
  </mat-dialog-actions>
</ng-template>
