<div class="sidebar-container">

  <h2>{{userData.fullname}}</h2>
  <hr>

  <ul>
    <li routerLink="dashboard" routerLinkActive="active-link"><img src="assets/img/staffs_icon.png" alt="staff" width="15" height="15"> Дешбоард</li>
    <li routerLink="marked-tests" routerLinkActive="active-link"><img src="assets/img/staffs_icon.png" alt="staff" width="15" height="15"> В2В Сводка</li>
    <li routerLink="schools" routerLinkActive="active-link"><img src="assets/img/staffs_icon.png" alt="staff" width="15" height="15">  Нагрузка </li>
    <li routerLink="learner" routerLinkActive="active-link"><img src="assets/img/learners_icon.png" alt="learners" width="15" height="15"> Время активности</li>
  </ul>

  <hr>

  <h5><img src="assets/img/settings_icon.png" alt="settings" width="15" height="15">Баптаулар</h5>
  <h5><img src="assets/img/white_logout_icon.png" alt="logout" width="15" height="15">Шығу</h5>

</div>
