<div class="navbar-container">
  <div class="navbar-details">
    <h2>Аналитика</h2>
    <div class="toggle-container" >
      <button class="toggle-button" (click)="changeView(true)" [ngClass]="{ 'active': viewDetail }">
        Обзор
      </button>
      <button class="toggle-button" (click)="changeView(false)" [ngClass]="{ 'active': !viewDetail }">
        B2B
      </button>
    </div>
  </div>
</div>

<div class="main-container">

  <ng-container *ngIf="viewDetail">
    <div class="grid-container">
      <div class="grid-box blue-box">
        <span>Общее количество учеников</span>
        <h1>{{dashboard.learners_total_count}}</h1>
      </div>
      <div class="grid-box light-blue-box">
        <span>Средний балл по всем ученикам</span>
        <h1>{{dashboard.average_marks}}/140</h1>
      </div>
      <div class="grid-box green-box">
        <span class="grid-box-title">Активные пользователи</span>
        <div class="grid-box-data">
          <h1>{{ dashboard.active_learners}}</h1>
          <span class="grid-box-mini-text">за месяц</span>
        </div>
      </div>
      <div class="grid-box purple-box">
        <span>Среднее время на экзамен</span>
        <h1>{{dashboard.average_duration}} час</h1>
      </div>
    </div>


    <div class="grid-graph-container">
      <div class="graph-box">
        <div class="graph">
          <div class="graph-details">
            <h3>График Активности</h3>
            <select class="graph-select" (change)="onTypeChange($event)">
              <option value="day">День</option>
              <option value="month">Месяц</option>
              <option value="year">Годовой</option>
            </select>

          </div>
          <canvas baseChart
                  style="width: 100%; height: 400px;"
                  [data]="lineChartData"
                  [options]="lineChartOptions"
                  [type]="'line'">
          </canvas>
        </div>
      </div>

      <div class="graph-box">
        <div  class="graph">
          <h3>Использование платформы</h3>
          <div class="details-box">
            <ul class="chart-legend">
              <li>
                <span class="legend-color" style="background-color: #002F91;"></span>
                Часто (более 3 раз в неделю)
              </li>
              <li>
                <span class="legend-color" style="background-color: #7EA6FF;"></span>
                Умеренно (1-3 раза в неделю)
              </li>
              <li>
                <span class="legend-color" style="background-color: #D4E4FF;"></span>
                Редко (реже раза в неделю)
              </li>
            </ul>

            <div class="chart-container" >
              <canvas baseChart
                      [data]="chartData"
                      [options]="chartOptions"
                      [type]="'doughnut'">
              </canvas>
            </div>

          </div>
        </div>
      </div>

      <div class="graph-box">
        <div  class="graph">
          <h3>Использование платформы</h3>
          <canvas baseChart
                  style="width: 100%; height: 400px;"
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [type]="'bar'">
          </canvas>
        </div>
      </div>

      <div class="graph-box">
        <div  class="graph">
          <h3>Оценки учеников</h3>
          <div class="details-box">
            <ul class="chart-legend">
              <li>
                <span class="legend-color" style="background-color: #CDA4DE;"></span>
                0-20 баллов: {{sortedMarks['0-19'] || 0}} учеников
              </li>
              <li>
                <span class="legend-color" style="background-color: #F9D27AFF;"></span>
                20-40 баллов: {{sortedMarks['20-39'] || 0}} учеников
              </li>
              <li>
                <span class="legend-color" style="background-color: #F79393FF;"></span>
                40-60 баллов: {{sortedMarks['40-59'] || 0}} учеников
              </li>
              <li>
                <span class="legend-color" style="background-color: #fac8e6;"></span>
                60-80 баллов: {{sortedMarks['60-79'] || 0}} учеников
              </li>
              <li>
                <span class="legend-color" style="background-color: #ffebf2;"></span>
                80-100 баллов: {{sortedMarks['80-99'] || 0}} учеников
              </li>
              <li>
                <span class="legend-color" style="background-color: #B3E683FF;"></span>
                100-140 баллов: {{sortedMarks['100-140'] || 0}} учеников
              </li>
            </ul>

            <div class="pie-container">
              <canvas
                baseChart
                [data]="pieChartData"
                [options]="pieChartOptions"
                [type]="'pie'">
              </canvas>
            </div>
          </div>
        </div>

      </div>

    </div>
  </ng-container>

  <ng-container *ngIf="!viewDetail">

  </ng-container>









</div>
