<div class="navbar-container">
  <h2>Белгіленген тесттер</h2>

  <div class="navbar-menu">

    <button class="add-btn" (click)="openDialog('250ms', '250ms', 'create')">Тест белгілеу</button>
    <button class="add-btn" (click)="changeStatus(status)">{{ status === 'archived' ? 'Артқа' : 'Архив' }}</button>

  </div>
</div>

<div class="main-container">

  <div class="grid-container">
    <div class="profile-box" *ngFor="let item of test">
      <div class="border"></div>

      <div class="details-box">

        <div class="details-box-left">

          <div class="detail-header">
            <h1>{{ item.name }}</h1>
            <h5>{{ item.test_type_display }}</h5>
          </div>
          <div class="details">
            <p>Группа: {{ item.group_name }}</p>
            <p>Уақыты: {{ item.starts_at }}</p>
            <p>Дедлайн: {{ item.ends_at }}</p>
          </div>

        </div>

        <div class="details-box-right">
          <span class="end-span" (click)="openDialog('250ms', '250ms', 'update', item.id)">
            <img src="assets/img/pencil.png" height="24" alt="pencil">
          </span>
          <a class="button" (click)="openResultsDialog(item.id)">Нәтижелер</a>
        </div>

      </div>


    </div>

  </div>


</div>


<ng-template #dialogTemplate>
  <div class="dialog-header">
    <h2 mat-dialog-title *ngIf="selectedModal=='create'">Тест белгілеу</h2>
    <h2 mat-dialog-title *ngIf="selectedModal=='update'">Қызметкерді жаңарту</h2>
    <button mat-icon-button (click)="closeDialog()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <ng-container *ngIf="selectedModal == 'create'">
      <form [formGroup]="testForm">

        <div class="content">

          <div class="form-group">
            <label for="name">Тест атауы</label>
            <input type="text" id="name" name="name" formControlName="name">
          </div>

          <div class="form-group">
            <label for="starts_at">Басталу уақыты</label>
            <input type="datetime-local" id="starts_at" name="starts_at" formControlName="starts_at">
          </div>

          <div class="form-group">
            <label for="ends_at">Дедлайн</label>
            <input type="datetime-local" id="ends_at" name="ends_at" formControlName="ends_at">
          </div>

          <div class="form-group">
            <label for="group">Мектеп</label>
            <select id="group" name="group" formControlName="group_id">
              <option value="" disabled selected>Мектепті таңдаңыз</option>
              <option *ngFor="let school of schools" [value]="school.id">{{ school.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="group">Оқушылардың Excel тізімі
              <a href="assets/data/excel_demo.xlsx" target="_blank" style="text-decoration: underline; cursor: pointer">(Үлгі)</a>
            </label>
            <input id="uploaded_excel_file" type="file" (change)="onFileChange($event)"/>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="selectedModal == 'update'">
      <form [formGroup]="testForm">

        <div class="content">

          <div class="form-group">
            <label for="name-update">Тест атауы</label>
            <input type="text" id="name-update" name="name" formControlName="name">
          </div>

          <div class="form-group">
            <label for="starts_at-update">Басталу уақыты</label>
            <input type="datetime-local" id="starts_at-update" name="starts_at" formControlName="starts_at">
          </div>

          <div class="form-group">
            <label for="ends_at-update">Дедлайн</label>
            <input type="datetime-local" id="ends_at-update" name="ends_at" formControlName="ends_at">
          </div>

          <div class="form-group">
            <label for="group-update">{{ role === 'teacher' ? 'Группа' : 'Мектеп' }}</label>
            <select id="group-update" name="group-update" formControlName="group_id">
              <option *ngFor="let school of schools" [value]="school.id">{{ school.name }}</option>
            </select>
          </div>

          <div class="form-group" *ngIf="role !== 'teacher'">
            <label for="group-update">Оқушылардың Excel тізімі
              <a href="assets/data/excel_demo.xlsx" target="_blank" style="text-decoration: underline; cursor: pointer">(Үлгі)</a>
            </label>
            <div *ngIf="testForm.get('excel')?.value" style="margin-bottom: 10px">
              <a [href]="userUrl + testForm.get('excel')?.value"
                 style="text-decoration: underline; cursor: pointer; font-size: 16px; ">
                Қазіргі Excel
              </a>
            </div>
            <input id="uploaded_excel_file-update" type="file" (change)="onFileChange($event)"/>
          </div>

          <div class="form-group">
            <label for="subject-update">Пән</label>
            <select id="subject-update" name="subject-update">

            </select>
          </div>

        </div>
      </form>
    </ng-container>

  </mat-dialog-content>
  <mat-dialog-actions>
    <ng-container *ngIf="selectedModal == 'create'">
      <button class="save-subject" (click)="saveTest('create')">Сақтау</button>
    </ng-container>

    <ng-container *ngIf="selectedModal =='update'">

      <div class="submit-buttons">
        <button class="save-subject" (click)="saveTest('update')">Сақтау</button>
        <button class="save-subject" (click)="onArchieve()">Архивқа салу</button>
      </div>

      <div>
        <button class="save-subject" (click)="onDelete()">Жою</button>
      </div>

    </ng-container>

  </mat-dialog-actions>
</ng-template>


<ng-template #resultsDialogTemplate>
  <div class="dialog-header">
    <div class="dialog-header__container">
      <h2 mat-dialog-title>
        Нәтижелер
        <a class="download-excel__button" (click)="downloadExcel(selectedTestId)">Скачать в Excel</a>
      </h2>
    </div>
    <button mat-icon-button (click)="closeDialog()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <table class="results-table">
      <thead>
      <tr>
        <th>ФИО</th>
        <th>Бастау уақыты</th>
        <th>Аяқтау уақыты</th>
        <th>Балл</th>
        <th>Қатемен жұмыс</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let result of testResults">
        <td>{{ result.learner_fullname }}</td>
        <td>{{ result.started_on || '-' }}</td>
        <td>{{ result.completed_on || '-' }}</td>
        <td>{{ result.taken_marks !== null ? result.taken_marks : '-' }}</td>
        <td>
          <a href="#">Қатемен жұмыс</a>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-dialog-content>
</ng-template>
