<div class="sidebar-container">

  <h2>Username</h2>
  <hr>

  <ul>
    <li routerLink="employee" routerLinkActive="active-link">Қызметкерлер</li>
    <li routerLink="learner" routerLinkActive="active-link">Оқушылар</li>
    <li routerLink="subjects" routerLinkActive="active-link">Пәндік тесттер</li>
    <li routerLink="test" routerLinkActive="active-link">Тақырыптық тесттер</li>
    <li routerLink="question" routerLinkActive="active-link">Сұрақтар</li>
    <li routerLink="wrong-questions" routerLinkActive="active-link">Қате сұрақтар</li>
  </ul>

  <hr>

  <h2>Баптаулар</h2>
  <h2>Шығу</h2>

</div>
