<div class="sidebar-container">

  <h2>{{ userData.fullname }}</h2>
  <hr>

  <ul>
    <li routerLink="employee" routerLinkActive="active-link"><img src="assets/img/staffs_icon.png" alt="staff"
                                                                  width="15" height="15">
      Қызметкерлер
    </li>
    <li routerLink="marked-tests" routerLinkActive="active-link"><img src="assets/img/staffs_icon.png" alt="staff"
                                                                      width="15" height="15">
      Белгіленген тесттер
    </li>
    <li routerLink="analytic" routerLinkActive="active-link"><img src="assets/img/staffs_icon.png" alt="staff"
                                                                      width="15" height="15">
      Аналитика
    </li>
    <li routerLink="schools" routerLinkActive="active-link"><img src="assets/img/staffs_icon.png" alt="staff" width="15"
                                                                 height="15">
      Мектептер
    </li>
    <li routerLink="learner" routerLinkActive="active-link"><img src="assets/img/learners_icon.png" alt="learners"
                                                                 width="15" height="15">
      Оқушылар
    </li>
    <li routerLink="subjects" routerLinkActive="active-link"><img src="assets/img/subject_tests_icon.png" alt="subject"
                                                                  width="15" height="15">
      Пәндік тесттер
    </li>
    <li routerLink="test" routerLinkActive="active-link"><img src="assets/img/theme_tests_icon.png" alt="tests"
                                                              width="15" height="15">
      Тақырыптық тесттер
    </li>
    <li routerLink="question" routerLinkActive="active-link"><img src="assets/img/questions_icon.png" alt="questions"
                                                                  width="15" height="15">
      Сұрақтар
    </li>
    <li routerLink="wrong-questions" routerLinkActive="active-link"><img src="assets/img/questions_icon.png"
                                                                         alt="questions" width="15" height="15">
      Қате сұрақтар
    </li>
  </ul>

  <hr>

  <h5><img src="assets/img/settings_icon.png" alt="settings" width="15" height="15">Баптаулар</h5>
  <h5><img src="assets/img/white_logout_icon.png" alt="logout" width="15" height="15">Шығу</h5>

</div>
