.sidebar-container{
  position: fixed;
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 100%;
  background-color: #1D1D42;
  color: white;
  padding: 0;
  margin: 0;
  top:0;
  z-index: 1;
}

.sidebar-container h2{
  display: flex;
  gap:10px;
  padding:20px 0 0 30px;
  margin: 0;
  font-size: 22px;
}

.sidebar-container h5{
  display: flex;
  gap:10px;
  padding:20px 0 0 30px;
  margin: 0;
  font-size: 14px;
}

h2, li{
  cursor: pointer;
}

.sidebar-container ul{
  padding: 0 0 0 30px;
}

.sidebar-container li{
  display: flex;
  gap:10px;
  list-style-type: none;
  padding: 15px 0;
  font-size: 14px;
}

.active-link {
  color: #00FFF5;
}

.active-link img {
  filter: invert(81%) sepia(66%) saturate(2533%) hue-rotate(170deg) brightness(245%) contrast(108%);
}



