.sidebar-container{
  position: fixed;
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 100%;
  background-color: #1D1D42;
  color: white;
  padding: 0;
  margin: 0;
  top:0;
  z-index: 1;
}

.sidebar-container h2{
  padding:28px;
  margin: 0;
  font-size: 22px;
}

h2, li{
  cursor: pointer;
}

.sidebar-container li{
  list-style-type: none;
  padding: 15px 0;
  font-size: 14px;
}

.active-link {
  color: #00FFF5;
}
