<div class="navbar-container">
  <h2>Аналитика</h2>

</div>

<div class="main-container">

  <div class="grid-container">
    <div class="grid-box blue-box">
        <span>Общее количество учеников</span>
        <h1>2892</h1>
    </div>
    <div class="grid-box light-blue-box">
        <span>Средний балл по всем ученикам</span>
        <h1>140/110</h1>
    </div>
    <div class="grid-box light-blue-box">
      <span>Средний балл по всем ученикам</span>
      <h1>140/110</h1>
    </div>
    <div class="grid-box light-blue-box">
      <span>Средний балл по всем ученикам</span>
      <h1>140/110</h1>
    </div>
  </div>


  <div class="grid-graph-container">
    <div class="graph-box">
      <div class="graph">
        <h3>График Активности</h3>
        <canvas baseChart
                style="width: 100%; height: 400px;"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [type]="'line'">
        </canvas>
      </div>
    </div>

    <div class="graph-box">
      <div  class="graph">
        <h3>Сравнение школ</h3>
        <canvas baseChart
                style="width: 100%; height: 400px;"
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="'bar'">
        </canvas>
      </div>

    </div>
  </div>

  <div class="grid-analysis-container">
    <div class="analysis-box">
      <div class="header">
        <h1>Проблемные вопросы и темы</h1>
        <div class="custom-select-container">
          <select id="dynamic-select" class="custom-select">
            <option value="EHT" selected>ЕHT</option>
            <option value="Единый Национальный Тест">Единый Национальный Тест</option>
            <option value="ЕНТ-2024">ЕНТ-2024</option>
            <option value="Тест">Тест</option>
          </select>
        </div>
      </div>
      <table class="problem-table">
        <thead>
        <tr >
          <th>Вопрос</th>
          <th style="width: 300px">Тема</th>
          <th>Правильный ответ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Сақтар туралы мәлімет беретін...</td>
          <td>Сақтар</td>
          <td><span class="answer correct">18%</span></td>
        </tr>
        <tr>
          <td>Сақтар туралы мәлімет беретін...</td>
          <td>Сақтар</td>
          <td><span class="answer average">50%</span></td>
        </tr>
        <tr>
          <td>Сақтар туралы мәлімет беретін...</td>
          <td>Сақтар</td>
          <td><span class="answer excellent">80%</span></td>
        </tr>
        <tr>
          <td>Сақтар туралы мәлімет беретін...</td>
          <td>Сақтар</td>
          <td><span class="answer correct">18%</span></td>
        </tr>
        <tr>
          <td>Сақтар туралы мәлімет беретін...</td>
          <td>Сақтар</td>
          <td><span class="answer average">50%</span></td>
        </tr>
        <tr>
          <td>Сақтар туралы мәлімет беретін...</td>
          <td>Сақтар</td>
          <td><span class="answer excellent">80%</span></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="analysis-box">
      <h1>Оценки учеников</h1>
      <div class="details-box">
        <ul class="chart-legend">
          <li>
            <span class="legend-color" style="background-color: #C3BFFA;"></span>
            45% ученик 100 - 120 балл
          </li>
          <li>
            <span class="legend-color" style="background-color: #A7EC9B;"></span>
            30% ученик 90 - 100 балл
          </li>
          <li>
            <span class="legend-color" style="background-color: #FDB44B;"></span>
            10% ученик 80 - 90 балл
          </li>
          <li>
            <span class="legend-color" style="background-color: #FF6B6B;"></span>
            5% ученик 70 - 80 балл
          </li>
          <li>
            <span class="legend-color" style="background-color: #F8A5FF;"></span>
            3% ученик 60 - 70 балл
          </li>
        </ul>

        <div class="chart-container">
          <canvas baseChart
                  [data]="chartData"
                  [options]="chartOptions"
                  [type]="'doughnut'">
          </canvas>
          <div class="chart-center">
            <span class="chart-value">2892</span>
            <span class="chart-label">Ученик</span>
          </div>
        </div>
      </div>



    </div>


  </div>







</div>
