<div class="navbar-container">
  <h2>Сұрақтар</h2>
  <hr style="transform: scaleY(0.3);">

  <div class="navbar-menu">
    <div class="select">
      <span>Пән: {{ getDisplayName(selectedSubject) }} </span>
      <span> <i class="bi bi-caret-down-fill"></i>  </span>
      <select id="subject1" [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
        <option *ngFor="let item of subjects" [value]="item.name">
          {{ item.displayName }}
        </option>
      </select>
    </div>

    <div class="button-container">

      <div class="search-menu">
        <input type="text" placeholder="ФИО/Телефон (формат +7 (xxx) xxx xx xx)">
        <button class="search-btn">Іздеу</button>
      </div>

      <button class="plus-button" (click)="openDialog('250ms', '250ms','select-type')">Сұрақ қосу</button>
    </div>

  </div>
</div>

<div class="main-container">

  <div class="content-container">

    <div class="action-buttons">
      <button class="action-button" [class.active]="selectedValue === 'has_one_answer'"
              (click)="changeType('has_one_answer')">Бір жауапты
      </button>
      <button class="action-button" [class.active]="selectedValue === 'has_many_answers'"
              (click)="changeType('has_many_answers')">Көп жауапты
      </button>
      <button class="action-button">Сәйкестендіру</button>
      <button class="action-button">Контекст</button>
    </div>

    <div class="action-buttons">

      <div class="select">
        <span>Пән: {{ getDisplayTheme(selectedSubTheme) }} </span>
        <span> <i class="bi bi-caret-down-fill"></i>  </span>
        <select id="subTheme" [(ngModel)]="selectedSubTheme">
          <option [ngValue]="undefined" selected>Барлығы</option>
          <option *ngFor="let item of subThemes" [value]="item.id">{{ item.theme_name }} {{ item.name }}</option>
        </select>
      </div>

      <div class="select">
        <span>{{ selectedText }}</span>
        <span> <i class="bi bi-caret-down-fill"></i>  </span>
        <select (change)="onSelectionChange($event)">
          <option value="all">Барлығы</option>
          <option value="not_accepted">Қабылданбаған</option>
          <option value="accepted">Қабылданған</option>
        </select>
      </div>

      <span>Общ. {{ questionCount || 0 }} сұрақ</span>


    </div>


    <div class="table-container">
      <table>
        <tr>
          <th>#</th>
          <th>Сұрақ</th>
          <th>Статус</th>
          <th>Деңгейі</th>
        </tr>
        <tbody>
        <tr *ngFor="let question of questionsData; let i = index" (click)="openEditDialog(question, '250ms', '250ms')">
          <td>{{ i + 1 + offset }}</td>
          <td>{{ question.help_text }}</td>
          <td
            [ngClass]="{'accepted-status': question.status === 'accepted', 'not-accepted-status': question.status !== 'accepted'}">
            {{ question.status_display }}
          </td>
          <td>{{ question.lvl_display }}</td>
        </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button (click)="previousPage()" [disabled]="offset === 0">Предыдущая</button>
        <span>Страница: {{ currentPage }}</span>
        <button (click)="nextPage()">Следующая</button>
      </div>

    </div>

  </div>
</div>

<ng-template #dialogTemplate>
  <div class="dialog-header">
    <h2 mat-dialog-title *ngIf="selectedType == 'select-type'">Тип таңдау</h2>
    <h2 mat-dialog-title *ngIf="selectedType !== 'select-type'">Сұрақ қосу</h2>
    <button mat-icon-button class="close-button">
      <mat-icon (click)="closeDialog()">close</mat-icon>
    </button>
  </div>
  <mat-dialog-content [ngClass]="selectedType">

    <ng-container *ngIf="selectedType == 'select-type'">
      <div class="grid-container">

        <div class="block" (click)="changeModalType('one-question')">
          <div class="block-icon">
            <i class="bi bi-check-circle"></i>
          </div>
          <span>Бір жауапты</span>
        </div>

        <div class="block" (click)="changeModalType('many-question')">
          <div class="block-icon">
            <i class="bi bi-check-circle"></i> <i class="bi bi-check-circle"></i>
          </div>
          <span>Көп жауапты</span>
        </div>

        <div class="block" (click)="changeModalType('context-question')">
          <div class="block-icon">
            <i class="bi bi-images"></i>
          </div>
          <span>Контекст</span>
        </div>

        <div class="block" (click)="changeModalType('match-question')">
          <div class="block-icon">
            <i class="bi bi-arrow-left-right"></i>
          </div>
          <span>Cәйкестендіру</span>
        </div>

      </div>

    </ng-container>

    <ng-container *ngIf="selectedType == 'one-question'">
      <form [formGroup]="oneQuestionForm">

        <div class="content">

          <div class="form-group">
            <label for="subject">Пән</label>
            <select
              id="subject"
              formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>


          <div class="form-group">
            <label for="subThemeForm">Тақырыпша</label>
            <select
              id="subThemeForm"
              formControlName="theme_id">
              <option *ngFor="let item of subThemes" [value]="item.id">{{ item.theme_name }} {{ item.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="help_text">Іздеу тексті</label>
            <input type="text" id="help_text" name="help_text" formControlName="help_text">
          </div>

          <div class="form-group">
            <label for="text1">Текст</label>
            <quill-editor
              id="text1"
              formControlName='text'
              [modules]="quillModules"
              placeholder=''>
            </quill-editor>
          </div>

          <div class="form-group">
            <label for="level1">Пән</label>
            <select
              id="level1"
              formControlName="lvl">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
            </select>
          </div>

          <div formArrayName="answers" class="answers">

            <label for="subTheme">Жауаптар</label>
            <div *ngFor="let answer of answers.controls; let i = index" [formGroupName]="i"
                 class="form-group answer-item">

              <div [id]="'toolbar-' + i" class="toolbar">
                <button class="ql-image"></button>
                <button style="width: 20px" (click)="setCorrectAnswer(i)"><i class="bi bi-check-circle"></i></button>
              </div>

              <quill-editor
                formControlName="text"
                [modules]="getEditorConfig(i)"
                placeholder=''
                (onContentChanged)="handleAnswerContentChange(i, $event)">
              </quill-editor>

              <div *ngIf="i === (answers.length - 1) && i === 4" class="delete-fifth-answer">
                <span class="delete-text" (click)="removeLastAnswer()">"E" жауабын жою</span>
              </div>
            </div>

            <span (click)="addAnswer()" *ngIf="answers.length != maxAnswers"
                  class="add-question">"Е" жауабын қосу</span>
          </div>

        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="selectedType == 'many-question'">
      <form [formGroup]="manyQuestionForm">

        <div class="content">

          <div class="form-group">
            <label for="subject-many">Пән</label>
            <select
              id="subject-many"
              formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>


          <div class="form-group">
            <label for="subThemeForm-many">Тақырыпша</label>
            <select
              id="subThemeForm-many"
              formControlName="theme_id">
              <option *ngFor="let item of subThemes" [value]="item.id">{{ item.theme_name }} {{ item.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="help_text-many">Іздеу тексті</label>
            <input type="text" id="help_text-many" name="help_text" formControlName="help_text">
          </div>

          <div class="form-group">
            <label for="text-many">Текст</label>
            <quill-editor
              id="text-many"
              formControlName='text'
              [modules]="quillModules"
              placeholder=''>
            </quill-editor>
          </div>

          <div class="form-group">
            <label for="level-many">Пән</label>
            <select
              id="level-many"
              formControlName="lvl">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
            </select>
          </div>

          <div formArrayName="answers" class="answers">

            <label for="subTheme">Жауаптар</label>
            <div *ngFor="let answer of answersMany.controls; let i = index" [formGroupName]="i"
                 class="form-group answer-item">

              <div [id]="'toolbar-' + i" class="toolbar">
                <button class="ql-image"></button>
                <button style="width: 20px" (click)="setCorrectManyAnswer(i)">
                  <i class="bi bi-check-circle" [class.correct]="answer.get('is_correct')?.value"></i>
                </button>
              </div>

              <quill-editor
                formControlName="text"
                [modules]="getEditorConfig(i)"
                placeholder=''
                (onContentChanged)="handleManyAnswerContentChange(i, $event)">
              </quill-editor>

            </div>

          </div>

        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="selectedType == 'context-question'">
      <form [formGroup]="contextQuestionForm">

        <div class="content">

          <div class="form-group">
            <label for="subject-context">Пән</label>
            <select
              id="subject-context"
              formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="help_text-context">Іздеу тексті</label>
            <input type="text" id="help_text-context" name="help_text" formControlName="help_text">
          </div>


          <div class="form-group">
            <label for="text-context">Контекст</label>
            <quill-editor
              id="text-context"
              formControlName='text'
              [modules]="quillModules"
              placeholder=''>
            </quill-editor>
          </div>

          <hr class="question-divider">

          <div formArrayName="questions" class="answers">
            <div *ngFor="let question of questions.controls; let qIndex = index" [formGroupName]="qIndex"
                 class="question-item">

              <label for="question-text">#{{ qIndex + 1 }} Сұрақ</label>
              <div class="form-group">
                <div id="toolbox-{{ qIndex }}">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                  <button class="ql-header" value="1"></button>
                  <button class="ql-header" value="2"></button>
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <button class="ql-image"></button>
                </div>
                <quill-editor
                  id="question-text"
                  formControlName="text"
                  [modules]="getModuleConfig(qIndex)"
                  placeholder=""
                  (onContentChanged)="handleQuestionContentChange(qIndex, $event)">
                </quill-editor>
              </div>

              <div formArrayName="answers" class="answers">
                <label for="answers"># {{ qIndex + 1 }} Жауаптар</label>
                <div *ngFor="let answer of getAnswers(qIndex).controls; let aIndex = index"
                     id="answers"
                     [formGroupName]="aIndex"
                     class="form-group answer-item">

                  <div [id]="'toolbar-' + qIndex + '-' + aIndex" class="toolbar">
                    <button class="ql-image"></button>
                    <button style="width: 20px" (click)="setContextCorrectAnswer(qIndex, aIndex)">
                      <i class="bi bi-check-circle" [class.correct]="answer.get('is_correct')?.value"></i>
                    </button>
                  </div>

                  <quill-editor
                    formControlName="text"
                    [modules]="getContextConfig(qIndex, aIndex)"
                    placeholder=""
                    (onContentChanged)="handleAnswerContextChange(qIndex, aIndex, $event)">
                  </quill-editor>

                  <div class="delete-fifth-answer" *ngIf="aIndex === 4">
                    <span class="delete-text" (click)="removeFifthAnswer(qIndex)">"E" жауабын жою</span>
                  </div>

                </div>

                <span *ngIf="getAnswers(qIndex).length < 5" (click)="addFifthAnswer(qIndex)" class="add-question">"Е" жауабын қосу</span>
              </div>

              <hr *ngIf="qIndex < questions.controls.length - 1" class="question-divider">

            </div>
          </div>

        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="selectedType == 'match-question'">
      <form [formGroup]="matchingQuestionForm">

        <div class="content">

          <div class="form-group">
            <label for="subject-match">Пән</label>
            <select
              id="subject-match"
              formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="help_text-context">Іздеу тексті</label>
            <input type="text" id="help_text-match" name="help_text" formControlName="help_text">
          </div>


          <div class="form-group">
            <label for="text-context-match">Контекст</label>
            <quill-editor
              id="text-context-match"
              formControlName='text'
              [modules]="quillModules"
              placeholder=''>
            </quill-editor>
          </div>

          <hr class="question-divider">

          <div formArrayName="questions" class="answers">
            <label>Сұрақтар</label>
            <div *ngFor="let question of matchingQuestion.controls; let i = index" [formGroupName]="i">
              <div class="form-group">
                <div id="toolbox-question-{{ i  }}">
                  <span style="float: left; font-weight: 700;font-size: 14px;">Сұрақ #{{ i + 1 }} </span>
                  <button class="ql-image" style="float: right"></button>
                </div>
                <quill-editor formControlName="question" [modules]="getMatchConfig(i)"></quill-editor>
              </div>

              <div class="form-group">
                <div id="toolbox-answer-{{ i  }}">
                  <span style="float: left; font-weight: 700;font-size: 14px;">Сұрақтың жауабы</span>
                </div>
                <quill-editor formControlName="answer" [modules]="getMatchAnswerConfig(i)"></quill-editor>
              </div>

            </div>
          </div>

          <div formArrayName="answers" class="answers">
            <div *ngFor="let answer of matchingAnswers.controls; let i = index" [formGroupName]="i" class="answer-row">
              <div class="form-group">
                <div id="toolbox-{{ i }}">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                  <button class="ql-header" value="1"></button>
                  <button class="ql-header" value="2"></button>
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <button class="ql-image"></button>
                </div>
                <quill-editor formControlName="text" [modules]="getModuleConfig(i)"></quill-editor>
              </div>
              <button *ngIf="i >= 2" (click)="removeMatchAnswer(i)" class="delete-button">Жою</button>
            </div>
            <button (click)="addMatchAnswer()" class="add-button">Артық жауап қосу</button>
          </div>


        </div>
      </form>
    </ng-container>


  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="save-subject" *ngIf="selectedType !== 'select-type' && selectedType == 'one-question'"
            (click)="onSubmit()">Сақтау
    </button>
    <button class="save-subject" *ngIf="selectedType !== 'select-type'&& selectedType == 'many-question'"
            (click)="onSubmitMany()">Сақтау
    </button>
    <button class="save-subject" *ngIf="selectedType !== 'select-type'&& selectedType == 'context-question'"
            (click)="onSubmitContext()">Сақтау
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #editDialogTemplate>
  <div class="dialog-header">
    <h2 mat-dialog-title>Сұрақты өзгерту</h2>
    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="selectedValue==='has_one_answer'">
    <mat-dialog-content>
      <form [formGroup]="editOneQuestionForm">
        <div class="content">
          <!-- Пән -->
          <div class="form-group">
            <label for="subject2">Пән</label>
            <select id="subject2" formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>

          <!-- Тақырыпша -->
          <div class="form-group">
            <label for="subThemeForm1">Тақырыпша</label>
            <select id="subThemeForm1" formControlName="theme_id">
              <option *ngFor="let item of subThemes" [value]="item.id">{{ item.theme_name }} {{ item.name }}</option>
            </select>
          </div>

          <!-- Іздеу тексті -->
          <div class="form-group">
            <label for="help_text1">Іздеу тексті</label>
            <input type="text" id="help_text1" formControlName="help_text">
          </div>

          <!-- Текст -->
          <div class="form-group">
            <label for="text">Текст</label>
            <quill-editor
              id="text"
              formControlName="text"
              [modules]="quillModules"
              placeholder="Мәтін енгізіңіз"
            ></quill-editor>
          </div>

          <!-- Деңгейі -->
          <div class="form-group">
            <label for="level">Деңгей</label>
            <select id="level" formControlName="lvl">
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
            </select>
          </div>

          <!-- Жауаптар -->
          <div formArrayName="answers" class="answers">
            <label for="answers">Жауаптар</label>
            <div
              *ngFor="let answer of editAnswers.controls; let i = index"
              [formGroupName]="i"
              class="form-group answer-item"
            >
              <div [id]="'toolbar-' + i" class="toolbar">
                <button
                  style="width: 20px"
                  (click)="toggleCorrectAnswer(i)"
                >
                  <i
                    class="bi bi-check-circle"
                    [class.correct]="answer.get('is_correct')?.value"
                  ></i>
                </button>
              </div>

              <quill-editor
                formControlName="text"
                [modules]="getEditorConfig(i)"
                placeholder="Введите текст"
              ></quill-editor>

              <div *ngIf="i === (editAnswers.length - 1) && i === 4" class="delete-fifth-answer">
                <span class="delete-text" (click)="removeAnswerFromEditForm(i)">"E" жауабын жою</span>
              </div>

            </div>
            <span *ngIf="editAnswers.length != maxAnswers" (click)="addAnswerToEditForm()" class="add-question">
            "Е" жауабын қосу
          </span>
          </div>


        </div>
      </form>
    </mat-dialog-content>
  </ng-container>

  <ng-container *ngIf="selectedValue === 'has_many_answers'">
    <mat-dialog-content>
      <form [formGroup]="editManyQuestionForm">
        <div class="content">
          <!-- Пән -->
          <div class="form-group">
            <label for="subject3">Пән</label>
            <select id="subject3" formControlName="subject">
              <option *ngFor="let item of subjects" [value]="item.name">{{ item.displayName }}</option>
            </select>
          </div>

          <!-- Тақырыпша -->
          <div class="form-group">
            <label for="subThemeForm3">Тақырыпша</label>
            <select id="subThemeForm3" formControlName="theme_id">
              <option *ngFor="let item of subThemes" [value]="item.id">{{ item.theme_name }} {{ item.name }}</option>
            </select>
          </div>

          <!-- Іздеу тексті -->
          <div class="form-group">
            <label for="help_text3">Іздеу тексті</label>
            <input type="text" id="help_text3" formControlName="help_text">
          </div>

          <!-- Текст -->
          <div class="form-group">
            <label for="text3">Текст</label>
            <quill-editor
              id="text3"
              formControlName="text"
              [modules]="quillModules"
              placeholder="Мәтін енгізіңіз"
            ></quill-editor>
          </div>

          <!-- Деңгейі -->
          <div class="form-group">
            <label for="level3">Деңгей</label>
            <select id="level3" formControlName="lvl">
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
            </select>
          </div>

          <!-- Жауаптар -->
          <div formArrayName="answers" class="answers">
            <label for="answers">Жауаптар</label>
            <div
              *ngFor="let answer of editManyAnswers.controls; let i = index"
              [formGroupName]="i"
              class="form-group answer-item">
              <div [id]="'toolbar-many-' + i" class="toolbar">
                <button class="ql-image"></button>
                <button style="width: 20px" (click)="toggleCorrectManyAnswer(i)">
                  <i class="bi bi-check-circle" [class.correct]="answer.get('is_correct')?.value"></i>
                </button>
              </div>
              <quill-editor
                formControlName="text"
                [modules]="getEditorConfig(i, 'many')"
                placeholder="Введите текст"
              ></quill-editor>
            </div>
          </div>
        </div>
      </form>
    </mat-dialog-content>
  </ng-container>

  <mat-dialog-actions>
    <div class="actions">
      <button class="save-subject" (click)="saveEditedQuestion()">Сақтау</button>
      <button class="save-subject" mat-dialog-close>Жабу</button>
    </div>
  </mat-dialog-actions>
</ng-template>

