<div class="navbar-container">
  <h2>Қызметкерлер</h2>

  <div class="navbar-menu">

    <div class="search-menu">
      <input type="text" placeholder="ФИО/Телефон (формат +7 (xxx) xxx xx xx)">
      <button class="search-btn">Іздеу</button>
    </div>


    <button class="add-btn" (click)="openDialog('250ms', '250ms')">Қызметкер қосу</button>

  </div>
</div>

<div class="main-container">

  <div class="content-container">

    <div class="action-buttons">

      <button class="action-button active">Мүғалімдер</button>
      <button class="action-button">Тестологтар</button>

    </div>


    <div class="table-container">

      <table>
        <tr>
          <th>#</th>
          <th>ФИО</th>
          <th>Телефон</th>
          <th>Пән</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>

    </div>



  </div>

</div>

<ng-template #dialogTemplate>
  <div class="dialog-header">
    <h2 mat-dialog-title>Қызметкер қосу</h2>
    <button mat-icon-button (click)="closeDialog()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>

    <div class="content">

      <div class="form-group">
        <label for="role">Роль</label>
        <select id="role" name="role">
          <option value="teacher">Мұғалім</option>
          <option value="testologist">Тестолог</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fio">ФИО</label>
        <input type="text" id="fio" name="fio">
      </div>

      <div class="form-group">
        <label for="phone">Телефон</label>
        <input type="text" id="phone" name="phone" >
      </div>

      <div *ngFor="let subject of subjects; let i = index" class="form-group subject-group">
        <div class="form-inline">
          <label [for]="'subject' + i">Пән #{{i + 1}}</label>
          <a  (click)="removeSubject(i)" class="delete-subject">Удалить</a>
        </div>
        <select [id]="'subject' + i" [(ngModel)]="subject.name">
          <option value="math">Математика</option>
          <option value="physics">Физика</option>
          <option value="history">Қазақстан тарихы</option>
        </select>
      </div>

      <a  (click)="addSubject()" class="add-subject">Пән қосу</a>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions>
      <button class="save-subject">Сақтау</button>
  </mat-dialog-actions>
</ng-template>
