* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loading-container {
  display: flex;
  justify-content: center;
}

.test-container {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  max-height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  gap: 10px;
}

.mobile-header {
  display: none;
}

.end-test__btn1 {
  font-size: 20px;
  padding: 18px 34px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #FF7D8E;
  cursor: pointer;
  white-space: nowrap;
  display: none;
}

.test-header {
  background-color: white;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 8px 42px;
}

.test-header h2 {
  white-space: nowrap;
  font-size: 20px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .mdc-line-ripple {
  display: none;
}

::ng-deep .subject-select .mat-mdc-form-field .mat-mdc-text-field-wrapper {
  background: none;
}

::ng-deep .subject-select .mat-mdc-form-field .mat-mdc-text-field-wrapper {
  background: none;
}

::ng-deep .mat-mdc-option {
  background-color: white !important;
}

::ng-deep .cdk-overlay-container .mat-mdc-select-panel {
  padding: 0;
  max-height: 100%;
}

::ng-deep .mat-mdc-option:hover,
::ng-deep .mat-mdc-option:focus,
::ng-deep .mat-mdc-option.mat-mdc-option-selected,
::ng-deep .mat-mdc-option[aria-selected="true"] {
  background-color: white !important;
  color: inherit !important;
  outline: none !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}

::ng-deep .mat-mdc-select-trigger .mat-mdc-select-arrow-wrapper {
  display: none; !important;
}

::ng-deep .mat-mdc-form-field-infix {
  width: 100px !important;
}

::ng-deep .cdk-overlay-pane {
  width: 100% !important;
  max-width: 200px;
}

mat-select-trigger {
  font-size: 17px;
  display: block;
  transform: translateY(1.5px);
  color: #0face6;
  cursor: pointer;
}

.subject-select {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.subject-select .mat-select-placeholder {
  color: #007bff; /* Custom color for placeholder text */
}

.end-test-timer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.timer {
  font-size: 20px;
}

.end-test__btn {
  font-size: 20px;
  padding: 18px 34px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #FF7D8E;
  cursor: pointer;
  white-space: nowrap;
}

.progress-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.progress-bar button {
  counter-increment: item;
  display: flex;
  width: 53px;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  background: white;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  font-family: "Gilroy-Medium", serif;
}

.progress-bar button.answered {
  background-color: #00B0EA;
  color: white;
}

.progress-bar button.current {
  border: 1px solid #00B0EA;
  background-color: white;
  color: #00B0EA;
}

.questions-answers {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 42px;
  border-radius: 10px;
}

.surak-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px solid #F5F5F5;
}

.answers-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answers-section button {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.2s;
  position: relative;
}

/*.answers-section button {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  width: 100%;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  text-align: left;*/
/*  background-color: white;*/
/*  font-size: 18px;*/
/*  font-weight: 500;*/
/*  border-radius: 8px;*/
/*  transition: background-color 0.2s;*/
/*}*/

/*.answers-section button.selected {*/
/*  background-color: #00B0EA;*/
/*  color: white;*/
/*}*/

.answers-section button::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ccc;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

/*.answers-section button.selected {*/
/*  background-color: #cce5ff;*/
/*  color: #004085;*/
/*}*/

.answers-section button.selected::before {
  background-color: #00B0EA;
}

.navigation-buttons {
  display: flex;
  gap: 20px;
}

.errorModal {
  width: 512px;
}

.test-btn {
  font-size: 17px;
  border: 1px solid black;
  background: none;
  padding: 8px 15px;
  cursor: pointer;
}

.test-btn:hover:enabled {
  background-color: black;
  color: white;
}

.reportTextArea {
  height: 6.75em;
  padding: .75em;
  width: 100%;
}

@media (max-width: 800px) {
  .test-container {
    padding: 12px 15px;
  }

  .test-header {
    padding: 8px 20px;
  }

  .questions-answers {
    padding: 10px 20px;
  }

  .progress-bar button {
    width: calc(100% / 11 - 10px);
    border-radius: 8px;
  }

  .test-btn {
    padding: 5px 10px;
    font-size: 14px;
  }

  .errorModal {
    width: 412px;
  }
}

@media (max-width: 600px) {

  .test-header {
    display: block;
  }

  .test-header h2 {
    display: none;
  }

  .end-test-timer {
    justify-content: space-between;
  }

  .end-test-timer.multiple-subjects {
    display: none;
  }

  .end-test__btn1 {
    display: block;
  }

    .mobile-header {
    display: flex;
    justify-content: space-between;
  }

  .timer1 {
    font-size: 20px;
  }

  .timer.multiple-subjects {
    display: none;
  }

  .progress-bar button {
    width: calc(100% / 10 - 8.1px);
    font-size: 17.5px;
    border-radius: 7px;
  }

  .errorModal {
    width: 312px;
  }
}

@media (max-width: 500px) {
  .end-test__btn {
    padding: 15px 20px;
    font-size: 15px;
  }

  .end-test__btn1 {
    padding: 15px 20px;
    font-size: 15px;
  }

  .progress-bar button {
    width: calc(100% / 9 - 6.3px);
    font-size: 15px;
    border-radius: 6px;
  }

  .test-header {
    padding: 8px 10px;
  }
}
