<div class="main-container">
  <app-navbar></app-navbar>


  <div class="record-container">
    <div class="records-card first-record">
      <h2>ТестАнт рекордсмені</h2>
      <h1>{{records[0].taken_marks}} балл</h1>
      <div class="record-user">
        <!--          <div class="photo">-->
        <!--            photo-->
        <!--          </div>-->
        <div class="username">
          <span class="username-name">{{records[0].learner_name}}</span>
          <span class="username-subject">{{records[0].subject1}}, {{records[0].subject2}}</span>
        </div>
      </div>
    </div>
    <div class="records-card second-record">
      <h2>№1 апталық рекорд</h2>
      <h1>{{recordsWeek[0].taken_marks}} балл</h1>
      <div class="record-user">
        <!--          <div class="photo">-->
        <!--            photo-->
        <!--          </div>-->
        <div *ngIf="recordsWeek.length === 0">Нет данных для отображения</div>
        <div class="username" *ngIf="recordsWeek.length > 0">
          <span class="username-name">{{recordsWeek[0].learner_name}}</span>
          <span class="username-subject">{{recordsWeek[0].subject1}}, {{recordsWeek[0].subject2}}</span>
        </div>
      </div>
    </div>
    <div class="records-card third-record">
      <h2>№2 апталық рекорд</h2>
      <h1>{{recordsWeek[1].taken_marks}} балл</h1>
      <div class="record-user">
        <div *ngIf="recordsWeek.length === 0">Нет данных для отображения</div>
        <div class="username" *ngIf="recordsWeek.length > 0">
          <span class="username-name">{{recordsWeek[1].learner_name}}</span>
          <span class="username-subject">{{recordsWeek[1].subject1}}, {{recordsWeek[1].subject2}}</span>
        </div>
      </div>
    </div>
    <div class="records-card fourth-record">
      <h2>№3 апталық рекорд</h2>
      <h1>{{recordsWeek[2].taken_marks}} балл</h1>
      <div class="record-user">
        <div *ngIf="recordsWeek.length === 0">Нет данных для отображения</div>
        <div class="username" *ngIf="recordsWeek.length > 0">
          <span class="username-name">{{recordsWeek[2].learner_name}}</span>
          <span class="username-subject">{{recordsWeek[2].subject1}}, {{records[2].subject2}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="test-container">
    <h2>Белгіленген тесттер</h2>
    <div class="grid-container">

      <div class="test-box main" *ngFor="let specTest of getLearnerSpecifiedTests">

        <div class="title">
          <h3>{{ specTest.name }}</h3>
          <span style="font-size: 15px"> {{ specTest.test_type_display }}</span>
        </div>

        <div class="details">

          <div class="info">
            <p><span style="font-weight: 600">Группа:</span> {{ specTest.group_name }}</p>
            <p><span style="font-weight: 600">Уақыты:</span> {{ specTest.starts_at }}</p>
          </div>

          <a class="start">Бастау</a>
        </div>

      </div>

    </div>

  </div>



  <div class="test-container">

    <h2>Еркін тесттер</h2>


    <div class="grid-container">

      <div class="test-box" (click)="openDialog()">
        <div class="title">
          <h3>Толық ҰБТ</h3>
          <span style="font-size: 15px">Толық ҰБТ-ға дайындығыңызды тексеріңіз</span>
        </div>
      </div>

      <div class="test-box" *ngFor="let subject of getLearnerSubjects">
        <div class="title" (click)="onClick(subject.name)">
          <h3>{{ subject.name_display }}</h3>
          <span style="font-size: 15px">{{ subject.name_display }} дайындығыңызды тексеріңіз</span>
        </div>
      </div>

    </div>

  </div>

</div>
<app-user-footer></app-user-footer>
