<div class="main-container">
  <app-navbar></app-navbar>

  <div class="test-container">
    <h2>Белгіленген тесттер</h2>
    <div class="grid-container">

      <div class="test-box main" *ngFor="let specTest of getLearnerSpecifiedTests">

        <div class="title">
          <h3>{{ specTest.name }}</h3>
          <span style="font-size: 15px"> {{ specTest.test_type_display }}</span>
        </div>

        <div class="details">

          <div class="info">
            <p><span style="font-weight: 600">Группа:</span> {{ specTest.group_name }}</p>
            <p><span style="font-weight: 600">Уақыты:</span> {{ specTest.starts_at }}</p>
          </div>

          <a class="start">Бастау</a>
        </div>

      </div>

    </div>

  </div>

  <div class="test-container">

    <h2>Еркін тесттер</h2>


    <div class="grid-container">

      <div class="test-box" (click)="openDialog()">
        <div class="title">
          <h3>Толық ҰБТ</h3>
          <span style="font-size: 15px">Толық ҰБТ-ға дайындығыңызды тексеріңіз</span>
        </div>
      </div>

      <div class="test-box" *ngFor="let subject of getLearnerSubjects">
        <div class="title" (click)="onClick(subject.name)">
          <h3>{{ subject.name_display }}</h3>
          <span style="font-size: 15px">{{ subject.name }}</span>
        </div>
      </div>

    </div>

  </div>

</div>
<app-user-footer></app-user-footer>
