.main-container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 25px;
  min-height: 100vh;
}

.test-container{
  width: 100%;
  border-radius: 15px;
  margin-top: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  border-radius: 15px;
}

.test-box {
  position: relative;
  background-color: #D4E6F1;
  padding: 20px;
  border-radius: 10px 17px 17px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  cursor: pointer;
}

.main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7.5px;
  height: 100%;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.main:nth-child(1):before {
  background-color: #50F4F4;
}

.main:nth-child(2):before {
  background-color: #FF9DAA;
}

.main:nth-child(3):before {
  background-color: #EB00FF;
}

.test-box h3 {
  margin: 0 0 3px 0;
  font-size: 30px;
  font-weight: bold;
}


.details{
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.info{
  display:flex;
  flex-direction:column;
}

.info p {
  padding:0;
  margin:0;
  font-size:18px;
}

.start{
  padding: 6px 15px;
  border-radius:3px;
  background-color:#8F8F8F;
  color: white;
  cursor:pointer;
}

.lock-icon {
  margin-left: auto;
  margin-top: 10px;
  display: inline-block;
  font-size: 24px;
}

.record-container {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

.records-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 40px;
}

.records-card {
  width: 100%;
  padding: 31px;
  border-radius: 25px;
  background-color: #1D1D42;
}

.first-record{
  background: #F0EEFF;
}

.second-record{
  background: #E8F3FA;
}

.third-record{
  background: #E8F3FA;
}

.fourth-record{
  background: #E8F3FA;
}

.records-card h2{
  padding: 0;
  margin: 0;
  color: black;
  font-weight: normal;
  font-size: 26px;
}

.records-card h1{
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-weight: bold;
  font-size: 55px
}

.record-user{
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  padding: 15px;
}

.username{
  display: flex;
  flex-direction: column;
}

.username-name{
  font-size: 18px;
  font-weight: normal;
}
.username-subject{
  font-size: 18px;
  font-weight: normal;
  color: #B5B5B5;
}

.photo{
  border-radius: 50%;
  background-color: orange;
  padding: 10px;
}

@media (max-width: 1024px) {
  .record-container {
    display: block;
  }

  .records-card {
    margin-top: 15px;
    width: auto;
  }
}

@media (max-width: 950px) {
  .main-container {
    padding: 0;
  }

  .record-container {
    padding: 0 25px;
  }

  .test-container h2{
    padding: 0 25px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding:25px;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
