@font-face {
  font-family: Gilroy-Regular;
  src: url(assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(assets/fonts/Geometria-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(assets/fonts/Geometria-Bold.ttf);
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #F5F5F5;
  font-family: "Gilroy-Regular", serif;
}

button, a {
  cursor: pointer;
  font-family: "Gilroy-Medium", serif
}

h1, h2, h3, h4, h5, h6, b {
  font-family: "Gilroy-Medium", serif
}

a, p ,span{
  font-family: "Gilroy-Regular", serif
}

table th{
  font-family: "Gilroy-Medium", serif
}

table td{
  font-family: "Gilroy-Medium", serif
}

li{
  font-family: "Gilroy-Medium", serif
}

input{
  font-family: "Gilroy-Medium", serif
}

label{
  font-family: "Gilroy-Bold", serif
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
