@import 'quill/dist/quill.snow.css';


@font-face {
  font-family: Gilroy-Regular;
  src: url(assets/fonts/gilroy-regular.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(assets/fonts/Geometria-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(assets/fonts/Geometria-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(assets/fonts/Montserrat-Regular.ttf);
}


@font-face {
  font-family: Montserrat-Medium;
  src: url(assets/fonts/Montserrat-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #F5F5F5;
  font-family:  'Montserrat-Regular', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat-Regular, "Montserrat-Regular", sans-serif; }
