<div class="login-container">
  <form class="form-container">
    <div class="box">
      <img src="assets/img/logo_ico.svg" alt="logo" width="100">
      <p>Войти</p>
    </div>

    <div class="box">
      <label class="box-label" for="email">Email address</label>
      <input type="email" class="box-input" id="email" placeholder="Enter email">
    </div>

    <div class="box">
      <label class="box-label" for="password">Password</label>
      <input type="password" class="box-input" id="password" placeholder="Password">
    </div>

    <div class="remember-me-container">
      <div>
        <input type="checkbox" id="remember" name="remember">
        <label class="remember-me-label" for="remember">Remember me</label>
      </div>
    </div>

    <button type="submit" class="btn-signin">Sign in</button>

    <footer>© 2017-2018</footer>
  </form>
</div>
