<div class="main-container" *ngIf="userData">
  <app-navbar></app-navbar>
  <div class="test-container">
    <h2>Жеке кабинет</h2>
    <div class="profile-grid-container">

      <div class="profile-box">
        <div class="title">
          <h1>Салем, {{ userData.fullname }}</h1>
          <span>Таңдау пәндері: {{ userData.subject1 }}-{{ userData.subject2 }}</span>
        </div>

        <div class="details">
          <a class="exit-button" (click)="onLogout()">Аккаунттан шығу</a>
          <a class="subject-button"> Таңдау пәндерік өзгерту</a>
        </div>
      </div>

      <div class="profile-box">
        <div class="title">
          <h1>ҰБТ Рекорд</h1>
          <span>Username: {{ ubtRecord }} балл</span>
        </div>

        <div class="progress">
          <div class="bar">
            <div class="progress-bar-fill"
                 [ngStyle]="{ width: ubtRecord ? (ubtRecord / maxUbtScore * 100) + '%' : '0%' }"></div>
          </div>
          <div class="points">
            <div class="point">
              0
            </div>
            <p class="text">
              Рекорд: {{ ubtRecord }} балл
            </p>
            <div class="point">
              140
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="test-container" id="results">
    <h2>Нәтижелерім</h2>
    <div class="total-grid-container">

      <div class="test-box" *ngFor="let test of passedTests">

        <div class="title">
          <p>{{ test.subject_display }}</p>
          <span>{{ test.test_type_display }}</span>
        </div>

        <div class="details">
          <div class="info">
            <p><span>Басталу уақыты:</span> {{ test.started_on }}</p>
            <p><span>Балл:</span> {{ test.taken_marks }}/{{ test.over_all_marks }}</p>
          </div>
          <a class="show-button" (click)="navigateToTestResults(test.id)">Көру</a>
        </div>

      </div>

    </div>

  </div>

</div>

<app-user-footer></app-user-footer>
