<div class="block">
  <app-navbar></app-navbar>

  <div class="first-block-container">
    <div class="left-container">

      <div class="profile-container">
        <img src="assets/img/profile-ico.png" alt="profile">
        <span class="profile-name">{{userData.fullname}}</span>
        <span class="profile-number">{{userData.phone_number}}</span>
        <div class="subjects">
          <span>{{userData.subject1}}</span>
          <span>{{userData.subject2}}</span>
        </div>
        <span class="profile-number">Сынып: 10</span>
        <button class="profile-change">Ақпаратты өзгерту</button>
      </div>

      <div class="ref-container">
        <div class="ref-first-row">
          <h1>Рефералды сілтеме</h1>
          <span class="question">?</span>
        </div>
        <div class="ref-submit">
          <labeL>Сілтеме</labeL>
          <input #refInput [placeholder]="userData.referralId" [ngModel]="userData.referralId">
        </div>
        <button class="ref-button" (click)="copyReferral(refInput.value)">Сілтемені көшіру</button>
      </div>

        <button class="del-button" (click)="onLogout()">Жүйеден шығу</button>

    </div>

    <div class="right-container">

      <div class="right-first-row-container">

<!--        <div class="first-box">-->
<!--          <img src="assets/img/level_one.svg" alt="level">-->
<!--          <div class="first-box-row">-->
<!--            <h1>Қола деңгейі</h1>-->
<!--          </div>-->
<!--          <div class="progress-bar-container">-->
<!--            <div class="progress-bar" style="width: 100%;"></div>-->
<!--          </div>-->
<!--          <span class="first-box-count">5000/5000</span>-->
<!--          <button class="first-box-button">Келесі деңгейге өту</button>-->
<!--        </div>-->

        <div class="second-box">

          <div class="second-box-row">

            <div class="rating">
              <span>Рейтинг</span>
              <h2>#13</h2>
              <h2 style="margin-left: 30px">137 балл</h2>
              <span class="question">?</span>
            </div>
            <div class="rating-points">
              <a style="color: #00A7DE; text-decoration: underline; cursor: pointer">Барлығын ашу</a>
            </div>

          </div>

          <div class="table-container" #tableContainer>
            <table class="styled-table">
              <thead>
              <tr>
                <th>#</th>
                <th>Аты-жөні</th>
                <th>Пән</th>
                <th>Балл</th>
              </tr>
              </thead>
              <tbody >
              <tr *ngFor="let item of records; let i = index" [id]="'learner-row-' + (i + 1)" [ngClass]="{'highlight-row': i + 1 === learnerRankedPlace}">
                <td>{{item.index}}</td>
                <td>{{item.learner_name }}</td>
                <td>{{item.subject1}}, {{item.subject2}}</td>
                <td>{{item.taken_marks}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

<!--      <div class="right-second-row-container">-->

<!--        <div class="second-price-container">-->
<!--          <div class="tab">Ұсынамыз</div>-->

<!--            <img src="assets/img/offer-logo.svg" alt="logo" width="40">-->

<!--            <div class="price-text">-->
<!--              <h1>Айлық</h1>-->
<!--              <div class="price">-->
<!--                <h1>2.890 тг</h1>-->
<!--                <h2>4.890 тг</h2>-->
<!--              </div>-->
<!--              <span>1 айға TestAnt жүйесін тегін пайдалану</span>-->
<!--            </div>-->

<!--          <button class="second-submit">Сатып алу</button>-->

<!--        </div>-->

<!--      </div>-->

    </div>

  </div>
</div>






<!--<div class="main-container" *ngIf="userData">-->
<!--  <app-navbar></app-navbar>-->
<!--  <div class="test-container">-->
<!--    <h2>Жеке кабинет</h2>-->
<!--    <div class="profile-grid-container">-->

<!--      <div class="profile-box">-->
<!--        <div class="title">-->
<!--          <h1>Салем, {{ userData.fullname }}</h1>-->
<!--          <span>Таңдау пәндері: {{ userData.subject1 }}-{{ userData.subject2 }}</span>-->
<!--        </div>-->

<!--        <div class="details">-->
<!--          <a class="exit-button" (click)="onLogout()">Аккаунттан шығу</a>-->
<!--          <a class="subject-button"> Таңдау пәндерік өзгерту</a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="profile-box">-->
<!--        <div class="title">-->
<!--          <h1>ҰБТ Рекорд</h1>-->
<!--          <span>Username: {{ ubtRecord }} балл</span>-->
<!--        </div>-->

<!--        <div class="progress">-->
<!--          <div class="bar">-->
<!--            <div class="progress-bar-fill"-->
<!--                 [ngStyle]="{ width: ubtRecord ? (ubtRecord / maxUbtScore * 100) + '%' : '0%' }"></div>-->
<!--          </div>-->
<!--          <div class="points">-->
<!--            <div class="point">-->
<!--              0-->
<!--            </div>-->
<!--            <p class="text">-->
<!--              Рекорд: {{ ubtRecord }} балл-->
<!--            </p>-->
<!--            <div class="point">-->
<!--              140-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->

<!--  </div>-->

<!--  <div class="test-container" id="results">-->
<!--    <h2>Нәтижелерім</h2>-->
<!--    <div class="total-grid-container">-->

<!--      <div class="test-box" *ngFor="let test of passedTests">-->

<!--        <div class="title">-->
<!--          <p>{{ test.subject_display }}</p>-->
<!--          <span>{{ test.test_type_display }}</span>-->
<!--        </div>-->

<!--        <div class="details">-->
<!--          <div class="info">-->
<!--            <p><span>Басталу уақыты:</span> {{ test.started_on }}</p>-->
<!--            <p><span>Балл:</span> {{ test.taken_marks }}/{{ test.over_all_marks }}</p>-->
<!--          </div>-->
<!--          <a class="show-button" (click)="navigateToTestResults(test.id)">Көру</a>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->

<!--  </div>-->

<!--</div>-->


<!--<ng-template #dialogTemplate>-->
<!--  <div class="dialog-header">-->
<!--    <h2 mat-dialog-title>Баланс толтыру</h2>-->
<!--    <button mat-icon-button class="close-button">-->
<!--      <mat-icon (click)="closeDialog()">close</mat-icon>-->
<!--    </button>-->
<!--  </div>-->

<!--  <mat-dialog-content>-->
<!--    <div class="dialog-content">-->
<!--      <label for="summ">Сумма: </label>-->
<!--      <input id="summ" type="number" placeholder="Сумма" [(ngModel)]="paySum">-->
<!--    </div>-->
<!--  </mat-dialog-content>-->

<!--  <mat-dialog-actions>-->
<!--    <div class="actions">-->

<!--      <button class="back-btn">Артқа</button>-->
<!--      <button-->
<!--        class="pay-btn"-->
<!--        mat-dialog-close-->
<!--        (click)="doPay()">Толтыру-->
<!--      </button>-->

<!--    </div>-->
<!--  </mat-dialog-actions>-->
<!--</ng-template>-->

<app-user-footer></app-user-footer>
