<div class="main-container" *ngIf="userData">
  <app-navbar></app-navbar>
  <div class="test-container">
    <h2>Жеке кабинет</h2>
    <div class="profile-grid-container">

      <div class="profile-box">
        <div class="title">
          <h1>Салем {{ userData.fullname }}</h1>
          <span>Таңдау пәндері:</span>
        </div>

        <div class="details">
          <a class="exit-button" (click)="onLogout()">Аккаунттан шығу</a>
          <a class="subject-button"> Таңдау пәндерік өзгерту</a>
        </div>
      </div>

      <div class="profile-box">
        <div class="title">
          <h1>ҰБТ Рекорд</h1>
          <span style="font-size: 15px">Username: count балл</span>
        </div>

        <div class="details-progress">
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          <span style="margin-top: 8px">Рекорд: count балл</span>
        </div>

      </div>
    </div>

  </div>

  <div class="test-container">
    <h2>Нәтижелерім</h2>
    <div class="total-grid-container">

      <div class="test-box">
        <div class="title">
          <h1>Subject</h1>
          <span style="font-size: 15px">Type test</span>
        </div>

        <div class="details">

          <div class="info">
            <p><span style="font-weight: 600">Басталу уақыты:</span> DATE</p>
            <p><span style="font-weight: 600">Балл:</span> COUNT</p>
          </div>

          <a class="show-button">Көру</a>
        </div>

      </div>

      <div class="test-box">
        <div class="title">
          <h1>Subject</h1>
          <span style="font-size: 15px">Type test</span>
        </div>

        <div class="details">

          <div class="info">
            <p><span style="font-weight: 600">Басталу уақыты:</span> DATE</p>
            <p><span style="font-weight: 600">Балл:</span> COUNT</p>
          </div>

          <a class="show-button">Көру</a>
        </div>

      </div>

      <div class="test-box">
        <div class="title">
          <h1>Subject</h1>
          <span style="font-size: 15px">Type test</span>
        </div>

        <div class="details">

          <div class="info">
            <p><span style="font-weight: 600">Басталу уақыты:</span> DATE</p>
            <p><span style="font-weight: 600">Балл:</span> COUNT</p>
          </div>

          <a class="show-button">Көру</a>
        </div>

      </div>

    </div>

  </div>

</div>

<app-user-footer></app-user-footer>
